.task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    width: auto;
  }
}

.task-title {
  text-decoration: none;
}

.pattern-content-inner {
  display: flex;
  align-items: center;
}
