.tasks-paper.no-tasks {
  background-color: antiquewhite;
  padding-top: 30px;
  height: 100%;
}

.add-tasks {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 35px;
}

.add-tasks-giph {
  width: 600px;
  height: 400px;
}
