@import "./paper.scss";
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

h1,
h2,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.input-container {
  position: relative;

  .icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.mr-10 {
  margin-right: 10px;
}
