div.task-details {
  background-image: url("../../shared/images/pergamin.png");
  background-color: antiquewhite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1000px 100vh;
  text-align: center;
  height: 100vh;
  padding-top: 200px;
}

.task-details-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 50px;

  .task-details-header {
    display: flex;
    justify-content: space-between;
  }

  .create-dates {
    text-align: end;
    font-family: "Dancing Script", cursive;
  }

  .link-back {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: black;
  }

  .task-completion-container {
    display: flex;
    align-items: center;
  }

  .completed {
    color: green;
  }

  .not-completed {
    color: brown;
  }

  .uncomplete {
    color: red;
  }

  .task-details-text {
    font-family: "Dancing Script", cursive;
    padding-top: 60px;
  }

  .task-details-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .task-details-input {
    max-width: 400px;
    margin: 60px auto 0 auto;
  }

  .task-changes,
  .save-changes,
  .discard-changes {
    display: flex;
    align-items: center;
  }

  .divider {
    margin: 0 10px;
    color: black;
  }

  .save-changes,
  .discard-changes,
  .manage-task-completion {
    cursor: pointer;
  }

  .save-changes {
    color: green;
  }

  .discard-changes {
    color: red;
  }

  .edit-todo {
    text-decoration: none;
    color: blue;
  }

  .todo-completed-state {
    display: flex;
    align-items: center;
  }
}
