h1,
h2,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.task {
  display: flex;
  align-items: center;

  label {
    width: auto;
  }
}

.input-container {
  position: relative;

  .icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
